@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --foreground: 51, 51, 51;
    --background-start: 238, 238, 238;
    --background-end: 190, 180, 170;

    --muted: 204, 204, 204;
    --muted-foreground: 34, 34, 34;

    --shadow-color: 0, 0, 0, 0.3;
  }

  .dark {
    --foreground: 240, 240, 240;
    --background-start: 48, 48, 48;
    --background-end: 30, 30, 30;
    
    --muted: 102, 102, 102;
    --muted-foreground: 221, 221, 221;

    --shadow-color: 255, 255, 255, 0.3;
  }
}

@layer base {
  body {
    @apply bg-gradient-to-b from-background-start to-background-end text-foreground;
  }
}
