@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --foreground: 51, 51, 51;
    --background-start: 238, 238, 238;
    --background-end: 204, 204, 204;

    --muted: 145, 145, 145;
    --muted-foreground: 224, 224, 224;

    --card-background: 190, 180, 170;
    --card-foreground: 10, 18, 40;
  }

  .dark {
    --foreground: 240, 240, 240;
    --background-start: 48, 48, 48;
    --background-end: 30, 30, 30;
    
    --muted: 102, 102, 102;
    --muted-foreground: 200, 200, 200;

    --card-background: 74, 60, 50;
    --card-foreground: 238, 233, 223;
  }
}

@layer base {
  body {
    @apply bg-gradient-to-b from-background-start to-background-end text-foreground;
  }
}

@layer utilities {
  .animation-delay-125 {
    animation-delay: 125ms;
  }
  .animation-delay-250 {
    animation-delay: 250ms;
  }
  .animation-delay-375 {
    animation-delay: 375ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-625 {
    animation-delay: 625ms;
  }
  .animation-delay-750 {
    animation-delay: 750ms;
  }
  .animation-delay-875 {
    animation-delay: 875ms;
  }
}
