@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --foreground: 51, 51, 51;
    --background-start: 238, 238, 238;
    --background-end: 204, 204, 204;

    --muted: 119, 119, 119;
    --muted-foreground: 255, 255, 224;
  }

  .dark {
    --foreground: 240, 240, 240;
    --background-start: 48, 48, 48;
    --background-end: 30, 30, 30;
    
    --muted: 102, 102, 102;
    --muted-foreground: 200, 200, 200;
  }
}

@layer base {
  body {
    @apply bg-gradient-to-b from-background-start to-background-end text-foreground;
  }
}
